#face1, #face2, #face3, #face4, #face5, #face6, #face7, #face8, #face9, #face10{
	width: 100px;
	height: 100px;
	position: relative;
	margin-right: 10px;
}
h3, p{
	font-family: 'Metal Mania', cursive;
	color: red;
	font-size: 36px;
}
#header{
	width: 100%;
	text-align: center;
	padding: 5px;
	background-color: grey;
	border-width: 3px;
	border-style: dashed;
	border-color: black;
}
#content{
	margin-left: 120px;
}
#faceColumn{
	position: absolute;
	background-color: red;
	width: 120px;
	height: 150%;
}
#butthead{
	float: right;
}
#bigboy{
	float: left;
}
#stop{
	float: right;
}
body{
	background-color: black;
}
.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}