#face{
	width: 100px;
	height: 100px;
	position: absolute;
}
#header{
	font-family: 'Metal Mania', cursive;
	padding: 5px;
	background-color: grey;
	color: red;
	text-align: center;
	font-size: 36px;
	border-width: 3px;
	border-style: dashed;
	border-color: black;
}
#content{
	margin-left: 100px;
}
#faceColumn{
	background-color: red;
	width: 120px;
	height: 100%;
}
#stop{
	float: right;
}
body{
	background-color: black;
}
.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}